go 1.23.2

use (
	./_02api_study/user/api_jwt
	./_02api_study/user/api_prefix
	./_02api_study/user/api_swagger
	./_02api_study/user/api_v2
	./_02api_study/user/api_v3
	./_03model_study/user/api
	./_03model_study/user/model
	./_03model_study/user_model/api_model
	./_03model_study/user_model/models
	./common
)
