{{define "sign-in"}}
{{template "header" .}}
<div class="row justify-content-center">
    <div class="col-4">
        <form method="post" action="/auth/login">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email {{template "required"}}</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password {{template "required"}}</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                Don't hava account, click heree to <a href="/sign-up">Sgin Up</a>
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>

{{template "footer" .}}
{{end}}