{{define "sign-in"}}
{{template "header" .}}
<div class="row justify-content-center">
    <div class="col-4">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password <span class="text-danger">*</span> </label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                Don't hava account, click heree to <a href="/sign-up">Sgin Up</a>
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>

{{template "footer" .}}
{{end}}